<form action="/cart?action=<%= action %>" method="post">
    <button type="submit" class="btn"><%= btnText %></button>
    <input type="hidden" name="id" value="<%= product._id %>">
    <input type="hidden" name="token" value="<%= token %>">
</form>