<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="centered">
            <h1>An email was sent to reset the password</h1>
        </div>
    </main>
<%- include('../includes/end.ejs') %>