<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Looks like we got a problem with our servers.</h1>
    <p>Please retry doing you process later.</p>

<%- include('../includes/end.ejs') %>